{% extends 'base.html' %}
{% load static %}

{% block B1 %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'inicio' %}">INICIO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="#">Boton1</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Boton2</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Boton3</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Blog</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block B2 %}
<form action="" method="post">
    {% csrf_token %}
    
    {{form.as_p }}

    <input type="submit" value="Crear">
</form>
{% endblock %}

